html,
body {
    height: 100%;
    width: 100%;
    background-color: #100301;
    color: white;
}

.new-ticket {
    height: 100vh;
    min-height:600px;
    text-align: center;
    align-items: center;
}
.new-ticket > div{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 50%;
    text-align: center;
  }
.ticket-actual {
    background-color: #282828;
}

.ticket-actual-numero {
    font-size: 80px;
}

.ticket-actual-escritorio {
    font-size: 45px;
}

.ticket-secundario {
    font-size: 25px;
}


/* Nuevo-ticket */

#lblNuevoTicket {
    font-size: 70px;
}